{
  "presets": [
    ["env", {
      "targets": {
        "ie": "9"
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["import", { 
      "libraryName": "antd", 
      "libraryDirectory": "es",
      "style": true 
    }],
    "lodash"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "ignoreFilenames": ["node_modules"]
        }]
      ]
    }
  }
}
