.login {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, calc(-50% - 30px));

  .btn-login {
    width: 100%;
  }

  h2 {

    text-align: center;
    margin: 45px 0;

    span {
      color: #e51c23;
    }
  }

}